* {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    height: 200vh;
    background-color: #333;
}

.wrapper {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

#gnb {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    .wrapper {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .gnb-logo {
        display: block;
    }

    .gnb-menu {
        padding: 0;
        display: flex;
        list-style: none;

        &-item {
            margin: 0 32px;

            a {
                font-size: 16px;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .gnb-btn {
        margin-left: auto;

        &-item {
            color: #fff;
            font-size: 16px;
            text-decoration: none;
        }

        &-primary {
            background-color: #db3535;
            border-radius: 4px;
            margin-left: 32px;
            padding: 10px 18px;
            font-weight: bold;
        }
    }

    &.stuck {
        background-color: #fff;
        .gnb-menu-item a,
        .gnb-btn-item {
            color: #000;
        }

        .gnb-btn-primary {
            color: #fff;
        }
    }
}

#footer {
    background-color: #000;
    padding: 48px 0;
    color: #fff;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .social-list {
        .social-item {
            margin-left: 72px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .menu-list {
        margin: 40px 0;

        .menu-item {
            margin-left: 32px;

            &:first-child {
                margin-left: 0;
            }

            a {
                font-size: 14px;
                color: #fff;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }

    .copyright {
        margin: 0;
        font-size: 12px;
        text-align: center;
    }
}
